# Ignore data, models, outputs
data/
scratch/
checkpoints/
MNIST/
*.ckpt
*.pt
*.pth

# Ignore Python cache and logs
__pycache__/
*.py[cod]
*.log

# Ignore Jupyter/IPython stuff
.ipynb_checkpoints/

# Ignore envs and lockfiles
.venv/
env/
*.env

# Ignore OS junk
.DS_Store

# VS Code and PyCharm config
.vscode/
.idea/

# WandB logs
wandb/
